/*===== GOOLE FONTS ====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,600&display=swap');

/*==== CSS VARIABLES =====*/
:root{
    --header-height: 3rem;

    /*==== COLORS ====*/
    --first-color: #B3A20A; 
    --first-color-light: #D8D69E;
    --text-color: #5B5757;
    --dark-color: #0E1026;
    --white-color: #FBFBFB;

    /*==== FONT AND TYPOGRAPHY ===*/
    --body-font: 'Poppins', sans-serif;
    --nav-name-font-size: 1rem;
    --normal-font-size: .938rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem; 

    /*==== MARGINES ====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*=== Z-INDICES =====*/
    --z-fixed: 100;

}
/*=== MEDIA QUERIES FOR > 768px SCREENS ====*/
@media screen and (min-width: 768px){
    :root{
        --nav-name-font-size: .5rem;
        --normal-font-size: 1rem; 
    }
}
/*==== BASE STYLES =====*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 600;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*====== GLOBAL CSS CLASSES =====*/
.section{
  padding: 4rem 0 2rem;
}

/*=== LAYOUT ===*/
.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid{
  display: grid; 
  gap: 1.5rem;
}
/*=== HEADER =====*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    background-color: #FFF;
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
.header__logo{
    color: var(--dark-color);
}
.header__toggle-menu{
    color: var(--dark-color);
    font-size: 1.7rem;
    cursor: pointer;
}

/*=== NAV ====*/
@media screen and (max-width: 768px){
    .nav{
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--first-color);
        width: 80%;
        height: 100vh;
        padding: 2rem;
        z-index: var(--z-fixed);
        transition: .5s;
        overflow-y: auto;
    }
}

.nav__content{
    display: flex;
    flex-direction: column;
}
.nav__profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}
.nav__image{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: .938rem;
}
.nav__image img{
    width: 70px;
}
.nav__name{
    display: block;
    font-size: var(--nav-name-font-size);
    color: var(--white-color);
}
.nav__item{
    margin-bottom: 2rem;
}
.nav__link{
    color: var(--first-color-light);
}

/*==== SHOW MENU =====*/
.show{
    left: 0;
}
/*=== ACTIVE LINK ====*/
.active{
    color: var(--white-color);
    position: relative;
}

.active::before{
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--white-color);
    border-radius: 50%;
}
/*=== DROP DOWN ======*/
.dropdown__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown__icon{
    font-size: 1.3rem;
    transition: .5s;
}
.dropdown__menu{
    margin: 1rem 0 0 1rem;
    display: none;
}
.dropdown__item{
    margin: 1rem;
}
.dropdown:hover > .dropdown__menu{
    display: block;
    background-color: #FFF;

}
.dropdown:hover .dropdown__icon{
    transform: rotate(180deg);
}

/*==== HOME SLIDE CONTAINER ======*/
.slideshow__container{
    max-width: 100%;
    max-height: 20%;
    position: relative;
    margin: auto;
}
.my__slides{
    display: none;
}
.my__slides img{
    width: 100%;
}
.prev,
.next{
    cursor: pointer;
    position: absolute;
    top: 15%;
    width: auto;
    padding: 16px;
    margin-top: -10px;
    color: var(--dark-color);
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease-in;
    user-select: none;
}
.prev:hover,
.next:hover {
    color: var(--first-color);
}
/*==== TAKE "NEXT BUTTON" TO RIGHT ====*/
.next{
    right: 0;
}
/*==== SLIDE IMAGE CAPTION ===*/
.caption{
    padding: 8px 12px;
    position: absolute;
    top: 50%;
    width: auto;
    left: 4;
    background-color: rgba(228, 209, 124, 1);
}
.caption .text{
    color: var(--text-color);
    font-size: var(--h2-font-size);
}
.btn{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: 600;
    border-radius: .5rem;

}
.btn:hover{
    background-color: var(--first-color-light);
    color: var(--dark-color);
}
.indicator {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease-in-out;
}

.current, .indicator:hover {
  background-color: var(--first-color);
}
/*===== ANIMATE SLIDE =====*/
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  transition: .5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*===== FOOTER ======*/
.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.footer__title{
    color: var(--dark-color);
    margin-bottom: var(--mb-2);
}
.footer__description{
    color: var(--text-color);
}
.footer__logo, .footer__title{
    color: var(--dark-color);
    font-size: var(--h3-font-size);
}
.footer__link{
    display: inline-block;
    margin-bottom: .75rem;
    color: var(--text-color);
}
.footer__link:hover{
    color: var(--first-color);
}
.footer__social{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: var(--mb-3);
}
.footer__social:hover{
    color: var(--first-color);
}
.footer__copy{
    text-align: center;
    font-size: .813rem;
    color: var(--first-color);
    margin-top: 4rem;
}
/*=== MEDIA QUERIRS ===*/
@media screen and (max-width: 768px){
    .caption{
        background: rgba(0, 0, 0, 0.363);
        width: 100%;
        bottom: 0;
        text-align: left;

    }
    .caption .text{
        color: #FFF;
        font-size: var(--normal-font-size);
    }
    .btn{
        display: inline-block;
        background-color: var(--first-color);
        color: #fff;
        padding: .55rem 1.5rem;
        font-weight: 600;
        border-radius: .5rem;

    }

}
@media screen and (min-width: 576px){
    nav{
        width: 288px;
    }
}
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 7rem;
    }
    .header{
        height: calc(var(--header-height) + 1rem);
    }
    .header__logo,.header__toggle-menu{
        display: none;
    }

    .nav{
        width: 100%;
    }
    .nav__content{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav__profile{
        flex-direction: row;
        text-align: center;
        margin-bottom: 0;
    }
    .nav__image{
        width: 40px;
        height: 40px;
        margin-right: .5rem;
        margin-bottom: 0;
    }
    .nav__image img{
        width: 46px;
    }
    .nav__name{
        color: var(--dark-color);
    }

    .nav__list{
        display: flex;
        align-items: center;
    }
    .nav__item{
        margin: 0 1.5rem;
        padding: 1.4rem 0;
    }
    .nav__link{
        color: var(--dark-color);
    }
    .nav__link:hover{
        color: var(--first-color);
    }
    .active{
        color: var(--first-color);
    }
    .dropdown{
        position: relative;
    }
    .dropdown__menu{
        position: fixed;
        margin: 0;
        top: calc(var(--header-height) + 1rem);
        padding: .5rem 1.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: .5rem;
    }
    .dropdown__item{
        margin: .5rem 0;
    }

    
}
@media screen and (min-width: 968px){
    :root{
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --small-font-size: .875rem;
    }
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }
}